<p> ser una persona exitosa que sepa valorar lo que tenga , ayudar ala gente necesitada
    brindoles comida, salud y abrigos para el frio </p>
<p> quiero ser una persona profecional , para que en un futuro pueda estar bien economicamente 
para brindarle las necesidades de mi familia y u na buena salud</p>
<p> graduarme de bachillerato en computacion para empezar a ser alguien en la vida </p>
<p> entrar al universida para desarrollar mi carrera de ingieneria en sonido por que me gusta todo lo que
tenga que ver con musica e instrumentos </p>
<p> desarrollar mi carrera de productor de musica a nivel mundial y crear muchos albunes de musica electronica</p>